* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}
.container {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to right top,hsl(168, 84%, 59%),#1ad5f1);
    align-items: center;
    justify-content: center;
}

.contents {
    background: white;
    height: 90vh;
    width: 80%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 20px;  
    backdrop-filter: blur(2rem);
    z-index : 2;
}
.circle1,.circle2 {
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.3));
    height: 24rem;
    width: 24rem;
    position: absolute;
    border-radius: 50%;
}
.circle1 {
    top: 2%;
    left: 3%;
    z-index : 1;
}
.circle2 {
    bottom: 8%;
    right: 5%;
    z-index : 1;
}
.heading {
    height: 10%;
    background: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.3));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: black;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}
.middle {
    height: 80%;
    overflow: scroll;
    
}
.buttom {
    height: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
form {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} 

.masukan {
    height: 100%;
    width: 89.6%;
    display :inline-block;
}
.submit {
    height: 100%;
    width: 10%;
    display:inline-block;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    margin-right: 0.5px;
}

input[type=text] {
    outline: none;
    height: 90%;
    width: 100%;
    border-bottom-left-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255, 255, 255, 0.3));
    transition: 1s;
    float: right;
    font-family: 'monospace', 'Courier', 'Courier New';
    font-size: 40px;
    text-align: center;
    border:0;
}
input[type=text]:focus {
    background:linear-gradient(to right bottom,rgba(255,255,255,1),rgba(136, 226, 253, 0.8));
}
input[type=image] {
    height: 89%;
    width: 100%;
    background-color: white;
    border-top: 0;
}
#pesan {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: right;
    color: white;
    background-color: black;
    margin: 10px;
    padding: 10px;
    display: table;
    margin-left: auto;
    border-radius: 25px;
}
