<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>LazyBot</title>
</head>
<body>
    <div class="container">
        <div class="heading">LazyBot</div>
        <div class="middle"></div>
        <div class="buttom">
            <form action="">
                <div class="masukan">
                    <input type="text" name="masukan", placeholder="   Masukkan pesan">
                </div>
                <div class="submit">
                    <input type="image" src="../static/img/send.png" alt="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>